
body {display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    margin: auto;
    max-width: 1440px;
    font-size: 36px;
    color: white;
    min-width: 330px;
}

nav {
    position: absolute;
    width: 100%;
}

#container {
    width: 100%;
    height: 500px;
    background-image: url('images/basicphone 3.png');
    background-size: cover;
    background-position: center center;
}

ul {
    display: flex;
    justify-content: right;

    list-style: none;
}


li {
    padding: 0% 2%;
    font-size: 24px;
}

#fill {
    height: 300px;
}

h1 {
    position: absolute;
    font-size: 26px;
    font-weight: bolder;
    top: 90px;
    left: 30px;
}

h2 {
    position: absolute;
    font-size: 22px;
    font-weight: 20;
    top: 140px;
    left: 30px;
}

/* #metroImg {
    width: 100%;
    height: auto;
    background-size: cover;
    width: 100%;
    min-height: 333px;
} */

#skateImg {
    width: 100%;
    height:auto;
}



@media (min-width: 550px) {
    body {
        background-color: green;
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    height: 60%;
    width: 75%;
    border-radius: 10px;
    opacity: 0.5;
  }

#teksti {opacity: 2.0;}

.iso {
    position: relative;
    text-align: center;
    color: white;
  }

.kommentit{
    position: relative;  
}

#kommentitImg{
    height: auto;
    width: 100%;
}

.formsKommenteille{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 50%;
    border-radius: 50px;
    background-color: rgba(169,169,169, 0.3);
    text-align: center;
    padding: 0rem;
}

#kokemuksiaFontti{
    font-size: 1.4rem;
    color: black;
}

#ajatuksiaFontti{
    font-size: 1.25rem;
    color: black;
    position: relative;
    top: -1.5rem;
}

#kommenttiForms{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(169,169,169, 0.5);
    width: auto;
    height: auto;
    max-width: 370px;
    max-height: 200px;
    min-height: 110px;
    position: relative;
    top: -1.5rem;
    padding: 0.2rem;
}

.labelFontti{
    font-size: 1.2rem;
    text-align: left;
    position: relative;
}

.forms > input{
    width: 50%;
    height: 1rem;
    padding: 1%;
    border: none; 
    outline: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    margin-bottom: -1rem;
    position: relative;
}

#sendButton{
    border-radius: 30px;
    background-color: rgba(169,169,169, 0.8);
    color: white;
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    border: none;
    box-shadow: 4px 4px #868686;
    font-weight: 520;
    margin-bottom: 1rem;
    position: relative;
    top: -0.4rem;
}

#sendButton:hover{
    background-color: grey;
}

.aikasempiKokemus{
    text-align: left;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: rgba(169,169,169, 0.5);
    width: 80%;
    height: auto;
    padding: 1rem;
    margin: 0.5rem; 
    max-width: 500px;
    
}

#aikasemmatKokemukset{
    overflow: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50px;
    width: auto;
    height: auto;
    position: relative;
    top: -1.5rem;
}


